graft src/birdnet_tests/

include \
  pylintrc \
  BENCHMARKING.md \
  CHANGELOG.md \
  CODE_OF_CONDUCT.md \
  CONTRIBUTING.md \
  LICENSE.md \
  MANIFEST.in \
  README.md \
  pyproject.toml \
  example/soundscape.wav \
  example/species_list.txt

global-exclude \
  *~ \
  *.py[cod] \
  *.so \
  .DS_Store

prune .*/
prune **/__pycache__/
