graft src/birdnet_tests/

include \
  pylintrc \
  CHANGELOG.md \
  CODE_OF_CONDUCT.md \
  CONTRIBUTING.md \
  LICENSE.md \
  MANIFEST.in \
  Pipfile \
  Pipfile.lock \
  README.md \
  pyproject.toml \
  setup.cfg \
  example/soundscape.wav \
  example/example.py \
  example/species_list.txt

global-exclude \
  *~ \
  *.py[cod] \
  *.so \
  .DS_Store

prune .*/
prune **/__pycache__/
