[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
birdnet = {editable = true, path = "."}
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"
rope = "*"
pytest = "*"
autoflake = "*"
twine = "*"
build = "*"
mypy = "*"
pandas-stubs = "*"
types-tqdm = "*"

[packages]
librosa = "==0.9.2"
tensorflow = "==2.15.0"
tflite_runtime = "*"
resampy = "*"
soundfile = "*"
scipy = "*"
ordered-set = "*"
tqdm = "*"

[requires]
python_version = "3.11"
